{% extends "mybase.html" %}

{% import "_macros.html" as marcos %}

{% block title %}
    首页{{ super() }}
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block main %}
    <ul>
        {% for question in questions %}

            <li class="question-item">
            <div class="avatar-group">
                <img src="{{ url_for('static', filename='images/arcsign.png') }}" alt="头像" class="avatar">
            </div>
            <div class="question-group">
                <p class="question-title">
                    <a href="{{ url_for('detail', question_id = question.id)}}">{{ question.title }}</a>
                </p>
                <p class="question-content">
                    {% if question.content_html %}
                        {{ question.content_html | safe }}
                    {% else %}
                        {{ question.content }}
                    {% endif %}
                </p>
                <div class="question-info">
                    <span class="question-author">
                        {{ question.author.username}}
                    </span>
                    <span class="question-time">
                        {{ question.create_time }}
                    </span>
                </div>
            </div>
        </li>

        {% endfor %}

    </ul>
{% endblock %}

{% block page %}
    {% if pagination %}
        <div class="pagination">
            {{ marcos.pagination_widget(pagination, '.index') }}
        </div>
    {% endif %}
{% endblock %}